$first: rgb(255, 174, 0);
$second: rgb(252, 113, 0);
$third: rgb(229, 28, 94);
$fourth: rgb(174, 15, 141);
$fifth: rgb(109, 15, 174);
$sixth: rgb(51, 34, 122);
$seventh: rgb(12, 143, 204);
$firstRow: rgb(133, 147, 159);
$thirdRowButton: rgb(2, 186, 171);
$fifthRow: rgb(82, 82, 82);
$fifthRowInner: rgb(61, 61, 61);
$eigthRow: rgb(102, 102, 102);
$twelfthRow: rgb(31, 42, 50);
